$black: #000;
$white: #FFF;
$grey: #f7f7f7;
$darkgrey: #5e5e5e;
$red: #d35136;
$green: #27b599;
$blue: #088ecc;
$darkblue: #11171c;

$padding: 50px;
$margin: 10px;
$main-width: 1000px;

$font-size: 14px;
$font-family: 'Lato', sans-serif;
$line-height: 1.4;

$break-four: 1050px;
$break-three: 760px;
$break-two: 520px;
$break-one: 360px;

@import url('http://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('normalize.css');

//Utilities
.group:after {
    content: "";
    display: table;
    clear: both;
}

//Main styles
* {
    position: relative;
    -webkit-box-sizeing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, .wrap {
    min-height: 100%;
}

body {
    color: $grey;
    font-size: $font-size;
    font-family: $font-family;
    line-height: $line-height;
    background: $darkblue;
}

.sidebar {
    width: 100%;
    height: 100%;

    //@media screen and (min-width: $break-three) {
        //float: left;
        //width: 20%;
    //}

    .my-info {
        text-align: center;
        padding: $padding*3 0;
        //border-bottom: 1px solid $darkgrey;
 
        .portfolio-image {
            border-radius: 50%;
        }

        h1, h2 {
            font-weight: normal;
        }

        h1 {
            font-size: 120%;
        }

        h2 {
            font-size: 100%;
        }
    }
}

.social {
    width: 120px;
    margin: 0 auto;
 
        a {
            float: left;
            width: 25px;
            height: 25px;
            margin: 0 $margin/5;
            background: url(../images/social-sprite.png) no-repeat;
            text-indent: -9999px;
 
            @media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-device-pixel-ratio: 2) {
                background: url(../images/social-sprite@2x.png) no-repeat;
                background-size: 101px 51px;
            }
 
            &.dribbble {
                background-position: 0px 0px;
 
                &:hover {
                    background-position: 0px -25px;
                }
 
            }
 
            &.twitter {
                background-position: -25px 0px;
 
                &:hover {
                    background-position: -25px -25px;
                }
            }
 
            &.facebook {
                background-position: -50px 0px;
 
                &:hover {
                    background-position: -50px -25px;
                }
            }
 
            &.googleplus {
                background-position: -75px 0px;
 
                &:hover {
                    background-position: -75px -25px;
                }
            }
 
        }
}
