@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700");
@import url("normalize.css");
/* line 27, style.scss */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* line 34, style.scss */
* {
  position: relative;
  -webkit-box-sizeing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 42, style.scss */
html, body, .wrap {
  min-height: 100%;
}

/* line 46, style.scss */
body {
  color: #f7f7f7;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  line-height: 1.4;
  background: #11171c;
}

/* line 54, style.scss */
.sidebar {
  width: 100%;
  height: 100%;
}
/* line 63, style.scss */
.sidebar .my-info {
  text-align: center;
  padding: 30px 0;
  border-bottom: 1px solid #5e5e5e;
}
/* line 68, style.scss */
.sidebar .my-info .portfolio-image {
  border-radius: 50%;
}
/* line 72, style.scss */
.sidebar .my-info h1, .sidebar .my-info h2 {
  font-weight: normal;
}
/* line 76, style.scss */
.sidebar .my-info h1 {
  font-size: 120%;
}
/* line 80, style.scss */
.sidebar .my-info h2 {
  font-size: 100%;
}

/* line 86, style.scss */
.social {
  width: 120px;
  margin: 0 auto;
}
/* line 90, style.scss */
.social a {
  float: left;
  width: 25px;
  height: 25px;
  margin: 0 2px;
  background: url(../images/social-sprite.png) no-repeat;
  text-indent: -9999px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-device-pixel-ratio: 2) {
  /* line 90, style.scss */
  .social a {
    background: url(../images/social-sprite@2x.png) no-repeat;
    background-size: 101px 51px;
  }
}
/* line 103, style.scss */
.social a.dribbble {
  background-position: 0px 0px;
}
/* line 106, style.scss */
.social a.dribbble:hover {
  background-position: 0px -25px;
}
/* line 112, style.scss */
.social a.twitter {
  background-position: -25px 0px;
}
/* line 115, style.scss */
.social a.twitter:hover {
  background-position: -25px -25px;
}
/* line 120, style.scss */
.social a.facebook {
  background-position: -50px 0px;
}
/* line 123, style.scss */
.social a.facebook:hover {
  background-position: -50px -25px;
}
/* line 128, style.scss */
.social a.googleplus {
  background-position: -75px 0px;
}
/* line 131, style.scss */
.social a.googleplus:hover {
  background-position: -75px -25px;
}
